.modalContainer {
    /*размазать на весь экран*/
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    /*выровнять по центру*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*вынести вперед*/
    z-index: 200;
}

