.actionsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--gray99);
    margin: 10px 0 0 0;
}

.actionsContainer span {
    color: var(--gray99);
    font-size: 14px;
}

.actionsContainer svg {
    margin-right: 8px;
}

.actionsList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.actionsItem{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 30px;
    align-items: center;
}

.actionsItem *:hover{
    cursor: pointer;
    color: var(--orange);
}

.actionsItem:hover path {
    fill: var(--orange);
}