
.titleContainer {
    padding: 40px 20px 15px 20px;
}

.threadTitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin: 0;/*h1 reset*/
    padding: 0;/*h1 reset*/
}

@media all and (min-width: 1024px) {
    .threadTitle {
        font-size: 28px;
        line-height: 33px;
    }
    .titleContainer {
        padding: 0;
    }
    .threadContainer {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        padding: 0;
        order: -1;
    }
}