.avatar {
    display: flex;
    align-items: center;
    /*border: 1px solid red;*/

}

.avatarImg {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.avatarText{
    display: none;
}

.avatar:hover *{
    cursor: pointer;
}

@media all and (min-width: 1024px) {

    .avatarImg {
        width: 50px;
        height: 50px;
    }

    .avatarText{
        color: var(--orange);
        margin-left: 15px;
        font-size: 20px;
        display: unset;
    }
}

@media all and (min-width: 1540px){
    .avatar {
        position: relative;
    }

    .avatarNimbus {
        position: absolute;
        left: -5px;
        top: -5px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .avatarNimbus:hover{
        border: 1px solid var(--orange);
    }

    .avatarText{
        color: var(--black);
    }
}