.actionsContainer {
    display: flex;
    /*flex-flow: row nowrap;*/
    justify-content: space-between;
    color: var(--gray99);
    margin: 10px 0 0 0;
    position: relative;
}

.menuSubButton:hover span, .menuSubButton:hover svg path{
    color: var(--orange);
    fill: var(--orange);
    cursor: pointer;
}