.titleContainer {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    /*-----3 точки-----*/
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    width: 90%;
}

.titleContainer button {/*строка с 3мя точками вконце*/
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

/*.titleContainer button:hover {*/
/*    color: var(--orange);*/
/*}*/
.titleContainer:hover *{
    color: var(--orange);
    cursor:pointer;
}

@media all and (min-width: 1024px) {
    .titleContainer {
        font-size: 20px;
        line-height: 23px;
        order: -1;
    }

}

@media all and (min-width: 1540px) {


}