.card {
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 20px 0;
}
/*.card > * {!* all DIRECT children of .card *!*/
    /*flex: 1 1 auto;!* flex-grow, flex-shrink и flex-basis. Значение по умолчанию: flex: 0 1 auto; *!*/
/*}*/


@media all and (min-width: 1024px) {
    .card {
        border-radius: 0;
        padding: 20px 40px;
        flex-flow: row nowrap;
        margin: 0;
    }
}

@media all and (min-width: 1540px) {

    .card {
        padding: 20px 45px 20px 70px;
    }

    .card:hover, .card:focus-within {
        outline: 1px solid var(--grayD9);
    }

    .card:hover h2 a, .card:focus-within h2 a{
        color: var(--orange);
    }
}

