.dropDownContainer {/*максимально флюиден, не должен указывать свои строгие размеры*/
    width: 100%;
    flex: 1 1 0;
}

.backside {/*задний щит*/
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
