.container {
    padding: 15px 0;
    color: var(--gray99);
    font-size: 14px;
    display: flex;
    align-items: center;
}

.container span{
    border-radius: 50%;
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    margin-right: 15px;

}
