.metaData {
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
}

.userLink {
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 7px;
}

.userName{
    color: var(--orange);
}

.userName:hover{
    text-decoration: underline;
}

.createdAt, .createdAt * {
    color: var(--gray99);
}

.publishedLabel {
    display: none;
}

@media all and (min-width: 1024px) {
    .metaData {
        font-size: 14px;
        line-height: 16px;
    }
}

@media all and (min-width: 1540px) {
    /*.userLink:hover a {*/
    /*    text-decoration: underline;*/
    /*}*/

    .username{
        position: relative;
        z-index: 1;
    }

}