.emptyCard {
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin: 0 0 20px 0;
}

.emptyCard svg *{
    fill: var(--grayF3);
}

.textContent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 16px 20px;
}

.metaMenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}

.meta{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.ava {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 7px;
    background-color: var(--grayF3);
}

.name, .date{
    width: 67px;
    height: 7px;
    background-color: var(--grayF3);
    margin-right: 7px;
}

.menu {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 50%;
    background: transparent;
}


.title {
    width: 80%;
    height: 14px;
    margin: 0 0 10px 0;
    background-color: var(--grayF3);
}

.headerActions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.headerActionsIcon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--grayF3);
    margin-right: 7px;
    display: none;
}

.headerActionsText {
    height: 14px;
    width: 20%;
    background-color: var(--grayF3);
}

.preview {
    width: 100%;
    height: 178px;
    background-color: var(--grayF3);
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.karma {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.karma span{
    color: var(--grayF3);
}

.down {
    transform: rotate(180deg);
}

.controlActionsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.controlActionOne, .controlActionTwo {
    width: 20px;
    height: 20px;
    background-color: var(--grayF3);
    border-radius: 50%;
}



@media all and (min-width: 1024px) {
    .emptyCard {
        border-radius: 0;
        padding: 20px 40px;
        flex-flow: row nowrap;
        margin: 0;
    }


    .textContent {
        padding: 14px 38px;
        width: 100%;
    }

    .title {
        height: 12px;
        order: -1;
        margin: 0;
    }

    .metaMenu {
        align-items: center;
        margin: 0;
    }

    .date {
        order: -1;
    }

    .menu {
        transform: unset;
    }

    .headerActions {
        margin: 0;
        height: 8px;
        position: relative;
    }

    .headerActionsIcon {
        display: unset;
    }

    .headerActionsText {
        height: 8px;
    }

    .preview {
        order: -1;
        min-width: 190px;
        width: 190px;
        height: 107px;
    }

    .controlActionsContainer {
        display: none;
    }

    .karma {
        justify-content: center;
        flex-flow: column nowrap;
    }

    .controls {
        padding: 0;
    }

}

@media all and (min-width: 1540px) {
    .username{
        position: relative;
        z-index: 1;
    }
    .controls {
        position: relative;
    }

    .card {
        padding: 20px 45px 20px 70px;
    }

}

