.layout {
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
    /*border: 1px solid darkseagreen;*/
    background-color: var(--grayF4);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
}
@media all and (min-width: 1024px){
}

@media all and (min-width: 1540px){
    .layout {
        /*box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);*/
        border-radius: 7px;
        padding: 0 40px;
    }

}