.textContentContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 16px 20px;

}

.metaMenuContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 0 4px 0;
}

.titleContainer {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.titleContainer a {/*строка с 3мя точками вконце*/
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.titleContainer a:hover {
    color: var(--orange);
}

@media all and (min-width: 1024px) {
    .textContentContainer {
        padding: 14px 38px;
        width: 100%;
    }

    .titleContainer {
        font-size: 20px;
        line-height: 23px;
        order: -1;
    }

    .metaMenuContainer {
        align-items: center;
        margin: 0;
    }
}

@media all and (min-width: 1540px) {

    /*.titleContainer a::after {*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    right: 0;*/
    /*    bottom: 0;*/
    /*    left: 0;*/
    /*}*/

    /*.card:hover h2 a, .card:focus-within h2 a {*/
    /*    color: var(--orange);*/
    /*}*/
}